.App {
  display: flex;
  overflow: hidden;
  flex-direction: column;
}

.App > * {
  flex: 0 0 auto;
  overflow: scroll;
}

.App-header {
  height: 50px;
  background: #555;
  color: white;
}

.App > .App-main {
  flex: 1 1 auto;
  display: flex;
  overflow: hidden;
}

.App > .App-main > * {
  flex: 0 0 auto;
  overflow: scroll;
}

.error {
  color: red;
}
